:host {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 1px solid gray;

    padding: 20px;

    .info {
        padding: 20px;

        span {
            display: block;
        }
    }
}